html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  color: var(--color-text-primary);
  background: var(--color-theme);
  font-family: var(--mantra-font-family);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-theme);
  color: var(--color-text-primary);
  font-family: var(--mantra-font-family);
  font-size: var(--font-size-m);
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
}

body.ru_RU {
  font-family: var(--font-family-ru_RU);
}

body.ja_JP {
  font-family: var(--font-family-ja_JP);
}

body.ko_KR {
  font-family: var(--font-family-ko_KR);
}

body.zh_TW {
  font-family: var(--font-family-zh_TW);
}

body a {
  color: var(--color-primary);
}

body img {
  -webkit-user-drag: none;
}

body button:focus {
  outline: none;
}

body input,
body textarea,
body select,
body button {
  font-family: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
a,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}

button {
  color: inherit;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
}

.mantra-app {
  display: grid;
  min-height: 100vh;
  color: var(--color-text-primary);
  background: var(--color-theme);
}
