:root,
html[data-theme="dark"],
body[theme="dark"] {
  --color-theme: var(--color-theme-dark);
  --color-theme-75: var(--color-theme-dark-75);
  --color-theme-80: var(--color-theme-dark-80);
  --color-theme-85: var(--color-theme-dark-85);
  --color-theme-90: var(--color-theme-dark-90);
  --color-theme-92: var(--color-theme-dark-92);
  --color-theme-95: var(--color-theme-dark-95);
  --color-primary: var(--color-brand-lighter);
  --color-primary-5: var(--color-brand-lighter-5);
  --color-primary-10: var(--color-brand-lighter-10);
  --color-primary-15: var(--color-brand-lighter-15);
  --color-primary-25: var(--color-brand-lighter-25);
  --color-primary-35: var(--color-brand-lighter-35);
  --color-primary-50: var(--color-brand-lighter-50);
  --color-primary-90: var(--color-brand-lighter-90);
  --color-text-primary: var(--color-lightgray);
  --color-text-secondary: var(--color-lightgray-70);
  --color-text-tertiary: var(--color-lightgray-60);
  --color-border-primary: var(--color-white-10);
  --color-border-secondary: var(--color-white-8);
  --color-bg-hover: var(--color-lightgray-5);
  --color-bg-active: var(--color-lightgray-10);
  --close-button-hover-background: var(--color-lightgray-5);
  --box-background: var(--color-theme-92);
  --box-overlay-background: var(--color-black-50);
  --box-border-top: 1px solid var(--color-white-25);
  --box-border-right: 1px solid var(--color-white-15);
  --box-border-bottom: 1px solid var(--color-white-10);
  --box-border-left: 1px solid var(--color-white-15);
  --box-border-shadow:
    0 12px 24px var(--color-black-30), 0 0 0 1px var(--color-black-50);
  --box-border-shadow-small:
    0 3px 12px var(--color-black-30), 0 0 0 1px var(--color-black-50);
  --box-border-no-shadow: 0 0 0 1px var(--color-black-50);
  --box-background-blur: blur(13px) brightness(0.7);
  --section-background: var(--box-background);
  --scrollbar-thumb-background: var(--color-white-25);
  --scrollbar-thumb-hover-background: var(--color-white-50);
}

html[data-theme="light"],
body[theme="light"] {
  --color-theme: var(--color-white);
  --color-theme-75: var(--color-white-75);
  --color-theme-80: var(--color-white-80);
  --color-theme-85: var(--color-white-85);
  --color-theme-90: var(--color-white-90);
  --color-theme-92: var(--color-white-92);
  --color-theme-95: var(--color-white-95);
  --color-primary: var(--color-brand);
  --color-primary-5: var(--color-brand-5);
  --color-primary-10: var(--color-brand-10);
  --color-primary-15: var(--color-brand-15);
  --color-primary-25: var(--color-brand-25);
  --color-primary-35: var(--color-brand-35);
  --color-primary-50: var(--color-brand-50);
  --color-primary-90: var(--color-brand-90);
  --color-text-primary: var(--color-dark);
  --color-text-secondary: var(--color-dark-70);
  --color-text-tertiary: var(--color-dark-60);
  --color-border-primary: var(--color-black-15);
  --color-border-secondary: var(--color-black-10);
  --color-bg-hover: var(--color-dark-5);
  --color-bg-active: var(--color-dark-10);
  --close-button-hover-background: var(--color-dark-5);
  --box-background: var(--color-theme-90);
  --box-overlay-background: var(--color-black-25);
  --box-border-top: 1px solid var(--color-white);
  --box-border-right: 1px solid var(--color-white-50);
  --box-border-bottom: 1px solid var(--color-white-25);
  --box-border-left: 1px solid var(--color-white-50);
  --box-border-shadow:
    0 12px 24px var(--color-black-15), 0 0 0 1px var(--color-black-15);
  --box-border-shadow-small:
    0 3px 12px var(--color-black-15), 0 0 0 1px var(--color-black-15);
  --box-border-no-shadow: 0 0 0 1px var(--color-black-15);
  --box-background-blur: blur(25px) brightness(3);
  --section-background: var(--color-dark-3);
  --scrollbar-thumb-background: var(--color-black-25);
  --scrollbar-thumb-hover-background: var(--color-black-50);
}
