::-webkit-scrollbar {
  overflow: scroll;
  -webkit-appearance: none;
  width: var(--mantra-scrollbar-width);
}

::-webkit-scrollbar:horizontal {
  height: var(--mantra-scrollbar-height);
}

::-webkit-scrollbar:vertical {
  margin-right: var(--mantra-space-2xs);
  height: var(--mantra-scrollbar-vertical-thumb-height);
}

::-webkit-scrollbar-thumb {
  min-height: var(--mantra-scrollbar-thumb-min-height);
  padding: var(--mantra-scrollbar-thumb-padding-top) 0 0;
  border: var(--mantra-scrollbar-thumb-border) solid transparent;
  border-radius: var(--mantra-scrollbar-thumb-radius);
  background: var(--scrollbar-thumb-background);
  background-clip: padding-box;
  opacity: var(--mantra-scrollbar-thumb-opacity);
  transition: background var(--mantra-duration-fast) var(--mantra-ease-base);
}

::-webkit-scrollbar-thumb:hover {
  border: var(--mantra-scrollbar-thumb-border) solid transparent;
  background: var(--scrollbar-thumb-hover-background);
  background-clip: padding-box;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
